#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# File:		.gitignore
# Author:	Colin Lundquist
# Date:		1/24/2020
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

**/__pycache__
**/*X*.*
**/*.log
**/.*.swp
